In [13]:
#import necessary libraries
import pandas as pd

In [18]:
#read data from csv files divided in chunks
num_chunks = 2
dfs = []

for chunk in range(1,num_chunks + 1):
    dfs.append(pd.read_csv('data/moviesdb_chunk_{}.csv'
                           .format(chunk),index_col=0))
df = pd.concat(dfs)

df.head()

,adult,budget,genres,original_language,popularity,production_companies,production_countries,release_date,revenue,runtime,title,vote_average,vote_count
0,False,75000000,"Action, Adventure, Science Fiction",en,17.111,"Centropolis Entertainment, 20th Century Fox",United States of America,1996-06-25,817400891,145.0,Independence Day,6.8,5591
1,False,63000000,"Action, Science Fiction",en,34.798,"Village Roadshow Pictures, Groucho II Film Par...","Australia, United States of America",1999-03-30,463517383,136.0,The Matrix,8.1,14750
2,False,150000000,"Adventure, Action, Thriller, Science Fiction",en,27.598,"Heineken Branded Entertainment, Village Roadsh...","Australia, United States of America",2003-05-15,738599701,138.0,The Matrix Reloaded,6.9,5847
3,False,150000000,"Adventure, Action, Thriller, Science Fiction",en,24.236,"Silver Pictures, Village Roadshow Pictures, NP...","United States of America, Australia",2003-11-05,424988211,129.0,The Matrix Revolutions,6.6,5257
4,False,31000000,"History, Romance, Drama",en,10.055,"Universal Pictures, Mirage Entertainment",United States of America,1985-12-20,128499205,161.0,Out of Africa,7.3,608

In [19]:
#filter data with 0 budget and revenue
df_filter = df[(df.budget!=0) & (df.revenue!=0)]
df_filter.shape

(1320, 13)